<ion-view view-title="Packages">
    <ion-tabs class="tabs-top tabs-light">
        <ion-tab title="Explore">
            <ion-content class="has-header has-tabs-top">
                <div class="card card--expand">
                    <div class="item item-divider" style="background: url('http://www.medimarket.in/Images/Annual_Fitness_Plan.jpg') center / cover; color: white;">
                        <h2>Annual Fitness Plan</h2>
                    </div>
                    <div class="item item-text-wrap">
                        This is a package which covers all your basic checkups to make sure...
                    </div>  
                    <div class="item item-avatar">
                        <img src="img/profile.png">
                        <h2>Rs.1500/-</h2>
                        <p>(Exclusive of all taxes)</p>
                    </div>     
                </div>
            </ion-content>
        </ion-tab>        
    </ion-tabs>
</ion-view>