<ion-view view-title="Settings">
    <ion-tabs class="tabs-top tabs-light">
        <ion-tab title="Home" icon-on="ion-heart" icon-off="ion-heart-outline" badge="2">
            <ion-content class="has-header has-tabs-top">
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/profile.png">
                        <h2>Home</h2>
                        <p>Information on home</p>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="About">
            <ion-content class="has-header has-tabs-top">
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/profile.png">
                        <h2>About</h2>
                        <p>Information on about</p>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Settings">
            <ion-content class="has-header has-tabs-top">
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="img/profile.png">
                        <h2>Settings</h2>
                        <p>Informayion on setting</p>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>